body {
  background-color: #161c2e;
  color: white;
    font-family: "Bitcount Grid Double", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
  }
.row {
  display: flex;
  margin: -2%;
}
.rowtxt {
  width: 50%;
  background-color: #161c2e;
  margin: 0%;
}
.rowimg {
  width: 50%;
  margin: 0%;
}
img {
  width: 100%;
  height: auto;
}
.content {
  padding: 10%;
  padding-top: 0%;
}
h3,
p {
  opacity: 0.5;
}
h2 {
  font-size: 2em;
  margin-top: -10px;
}
h3 {
  font-size: 1.5em;
  margin-bottom: 5px;
}
p {
  font-size: 1.2em;
}

button {
  font-size: 1.2em;
  margin: 10px;
  padding: 12px 25px 12px 25px;
  color: white;
  border-radius: 25px;
  border-style: solid;
  cursor: pointer;
}
.b1 {
  background-color: #161c2e;
  border: gray 2px solid;
}
.b2 {
  background-color: #ffc90f;
  border: #ffc90f 2px solid;
}
.b1:hover {
  color: #ffc90f;
  border: #ffc90f 2px solid;
}
h4{
  font-size: 1.7em;
  margin-top: 10px;
  margin-bottom: 10px;
}

table {
  width: 100%;
  margin: 20px 0;
  padding: 10px;
  height: 100%;
  border-collapse: collapse;
}