@font-face {
  font-family: first-try;
  src: url(../fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: first-try;
  box-sizing: border-box;
}
